.page_body {
  font-size: 17.5px;
  line-height: 22pt;
}

.index_body {
  margin-top: 40px;
  font-size: 17.5px;
  margin-bottom: 40px;
}

.pdfobject-container {
  width: 100%;
  height: 800px;
  margin: 2em 0;
}

.border {
  border-style: solid;
}